:root{
  --notification-final-opacity:0.7
}

.notification{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  z-index: 6;
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 0.5em;
  font-size: 16px;
  border-radius: 1em;
  font-weight: 500;
  animation: show-notification 0.4s;
  opacity: var(--notification-final-opacity);
}

@keyframes show-notification {
  from{
    opacity: 0;
  }
  to{
    opacity: var(--notification-final-opacity);
  }
}