
.app {
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.game-menu {
  width: 30vw;
  padding: 2em;
  min-width: 15em;
  min-height: 15em;
  max-width: 30em;
  max-height: 30em;
  box-sizing: border-box;
}
.game-menu__button {
  width: 100%;
  margin: 0.5em 0em;
}

.join-popup__button{
  position: absolute;
  bottom: 2em;
}
